body 
{
	font-family: "trebuchet ms", verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	color: #333;
	background: #ffffff;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
p 
{
	margin-top: 10px;
}
#header
{
	position: absolute;;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 100%;
	background: #333;
	padding-top: 8px;
}
#header h1
{
	font-size: 30px;
	text-transform: uppercase;;
	letter-spacing: 0.3em;
	color: #fff;
}
#menu
{
	font-family: "trebuchet ms", verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	position: absolute;;
	height: 27px;
	top: 60px;
	left: 0px;
	width: 100%;
	padding: 0px;
	color: #000000;
	background: #eee;
}

a:link
{
	text-decoration: none;
	bottom: 0px;
	color: #363;
}
a:visited
{
	text-decoration: none;
	border-bottom: 1px dotted #369;
	color: #833;
}
a:hover, a:active
{
	text-decoration: none;
	border-bottom: 1px solid #039;
	color: #000;
}
#container
{
	position: absolute;
	top: 85px;
	left: 0px;
	background: #fff;
	margin: 0 auto 0 auto;
	text-align: left;
	width: 100%;
	height: 100%;
}
#bar
{
	float: left;
	width: 200px;
	background: #eee;
	padding: 10px;
	margin-right: 30px;
	height: 100%;
}
img 
{
	border: 0;
}
#bar h1
{
	font-size: 12px;
	text-transform: uppercase;;
	letter-spacing: 0.3em;
}
#main 
{
	margin: 15px 15px 15px 240px;
	padding: 15px 15px 15px 15px;
	background: #fff;
	color: #000;
}

table{
	border: none;
	background: #fff;
}
th{
	width:100%;
	letter-spacing: 2.5px;
	background: #eee;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	border-top: thick solid #eee;
	border-bottom: thin solid #ccc;
}

td{
	padding: 0px;
	border: thin;
	background: #eee;
}
.now input {
	height: 30px;
	border: none;
	background-color:#CAE8EA; 
	color: #797268; 
	/*font-size: 15px;*/
}
.now table{
border:1px solid #cad9ea; 
color:#666; 
table-layout:fixed; 
empty-cells: show;
border-collapse: collapse; 
margin:0 auto;
}
.now th{
	background-color: #333;
	color:#eee;
	height:30px; 
}
.now th,td{
	border:1px solid #cad9ea; 
	padding:0 1em 0; 
}
.now tr{
	background-color:#f5fafe; 
}
.now td{
	/*border: thin solid #080;*/
	background-color:#CAE8EA; 
	color: #797268; 
	padding: 0;
	height:30px; 
}




















